{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="example-wrapper">
        <h1>{{ 'Registred Users'|trans }} </h1>


        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{{ 'email'|trans }}</th>
                <th scope="col">{{ 'password'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in user %}
                <tr>
                    <th scope="row">{{ user.id }}</th>
                    <td>{{ user.email }}</td>
                    <td>{{ user.password }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('app_register') }}">Ajouter un utilisateur ! </a> <br>

        {#<a href="{{ path('delete_user') }}">Suprimer un utilisateur ! </a>#}


    </div>
{% endblock %}
